html {
	box-sizing: border-box;
	font-size: 62.5%; /*1rem = 10px*/
}

*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--cream);
	min-height: 100vh;
	display: grid;
	place-items: center;
}

[class*='container'] {
	margin: 0 auto;
	width: 90%;
}

.container {
	max-width: 1280px;
}
.container-md {
	max-width: 1024px;
}
.container-sm {
	max-width: 768px;
}
